#boxesContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .clickable-box {
        color: _palette(fg-bold);
		display: block;
		font-size: 0.9em;
		font-weight: _font(weight-bold);
		margin: 0 0 (_size(element-margin) * 0.5) 0;

        flex: 0 1 auto;
        padding: 10px;
        cursor: pointer;
        position: relative;
        z-index: 1000;
        transition: background-color 0.3s, transform 0.3s;

        &:hover {
            background-color: darken(lightblue, 10%);
            transform: scale(1.05);
        }

        &:active {
            transform: scale(0.95);
        }
    }
}

#packsButton {
    display: inline-block;
    padding: 0.75em 1.5em;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken(#3498db, 10%);
    }

    &:focus, &:active {
        outline: none;
        background-color: darken(#3498db, 20%);
    }

    &:disabled {
        background-color: lighten(#3498db, 20%);
        cursor: not-allowed;
    }
}